* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.navbar {
  background-color: #2a9d8f;
  padding: 0px 5px;
}

.navbar__content {
  margin: 0 auto;
  max-width: 700px;
  color: #fff;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__content > span {
  font-weight: 800;
  color: #ffb703;
}

.cart {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  transition-duration: 200ms;
}

.cart:hover {
  cursor: pointer;
  color: #ffb703;
}

.cart > i {
  margin-right: 10px;
}

.shop {
  min-height: 100vh;
  padding: 10% 10px;
}

.shop__grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-content: center;
  align-items: center;
  column-gap: 0.9rem;
  row-gap: 1.2rem;
  max-width: 700px;
}

.item {
  padding: 5px;
  -webkit-box-shadow: 2px 4px 9px -4px #00000031;
  box-shadow: 2px 4px 9px -4px #00000031;
  border-radius: 10px;
  transition-duration: 200ms;
}

.item:hover {
  transform: scale(1.05);
}

.item > img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 10px;
}

.item__content > h3 {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0.6em;
}

.item__content--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.6em;
}

.item__content--controls > span {
  margin: 0 10px;
  font-size: 1em;
}

.item__content--controls > i {
  font-size: 0.6em;
  cursor: pointer;
}
