* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: sans-serif;
}

.shadow {
  -webkit-box-shadow: 2px 4px 9px -4px #00000031;
  box-shadow: 2px 4px 9px -4px #00000031;
}

.green-shadow {
  -webkit-box-shadow: 5px 5px 15px -4px #2a9d904d;
  box-shadow: 5px 5px 15px -4px #2a9d904d;
}

.navbar {
  background-color: #2a9d8f;
  padding: 0px 5px;
}

.navbar__content {
  margin: 0 auto;
  max-width: 700px;
  color: #fff;
  padding: 5px 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar__content > a > span {
  font-weight: 800;
  color: #ffb703;
}

.cart {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  transition-duration: 200ms;
}

.cart:hover {
  cursor: pointer;
  color: #ffb703;
}

.cart > i {
  margin-right: 10px;
}

.shop {
  min-height: 100vh;
  padding: 10% 10px;
}

.shop__grid {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-content: center;
  align-items: center;
  column-gap: 0.9rem;
  row-gap: 1.2rem;
  max-width: 700px;
}

.item {
  padding: 5px;
  border-radius: 10px;
  transition-duration: 200ms;
}

.item:hover {
  transform: scale(1.05);
}

.item > img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 10px;
}

.item__content > h3 {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0.6em;
}

.item__content--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.6em;
}

.item__content--controls > span {
  margin: 0 10px;
  font-size: 1em;
}

.item__content--controls > i {
  font-size: 0.6em;
  cursor: pointer;
}

.bill {
  text-align: center;
  width: 100%;
  padding: 2rem 5px;
}

.bill > h1 {
  margin-bottom: 2rem;
  color: black;
  font-weight: 400;
}

.goHome {
  background-color: #ffb703;
  padding: 0.4em 0.8em;
  border-radius: 0.6em;
  text-decoration: none;
  color: black;
}

.cartItems {
  padding-top: 4rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  justify-content: center;
  align-items: center;
  column-gap: 0.9rem;
  row-gap: 1.2rem;
  max-width: 700px;
}

.cartItem {
  position: relative;
  padding: 5px;
  border-radius: 10px;
  transition-duration: 200ms;
}

.delete {
  position: absolute;
  bottom: 2%;
  right: 3%;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.delete > i {
  font-size: 20px;
  color: red;
}

/* .cartItem:hover {
  transform: scale(1.05);
} */

.cartItem > img {
  width: 100%;
  object-fit: cover;
  margin-bottom: 5px;
  border-radius: 10px;
}

.cartItem__content > h1 {
  font-size: 0.8em;
  text-align: center;
  margin-bottom: 0.6em;
}

.cartItem__content--controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.6em;
}

.cartItem__content--total {
  text-align: center;
  font-size: 0.9em;
  margin-bottom: 0.6em;
}

.cartItem__content--total > span {
  font-size: 1rem;
  font-weight: 700;
}

.cartItem__content--controls > span {
  margin: 0 10px;
  font-size: 1em;
}

.cartItem__content--controls > i {
  font-size: 0.6em;
  cursor: pointer;
}
